.logoKhuott {
    width: 84px;
    height: 28px;
}

.navbar-nav {
    justify-content: space-between;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.nav-item {
    margin-right: 30px;
}